In [4]:
#!{sys.executable} -m pip install matplotlib

In [160]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets

In [161]:
def filter_df(df_orig, col, arg, op='=='):
    df = df_orig.copy()
    
    if op == '==':
        df = df.loc[df[col]==arg]
    elif op == '<':
        df = df.loc[df[col]<arg]
    elif op == '>':
        df = df.loc[df[col]>arg]
    elif op == '<=':
        df = df.loc[df[col]<=arg]
    elif op == '>=':
        df = df.loc[df[col]>=arg]
    elif op == '!=':
        df = df.loc[df[col]!=arg]
    else:
        print('op type not supported!')
    
    return df

In [170]:
sim_df = pd.read_csv("../cmake-build-debug/sim_log.txt", sep=",", header=0)
display(sim_df.head())

sampling_df = pd.read_csv("../cmake-build-debug/sampling_log.txt", sep=",", header=0)
display(sampling_df.head())

,simstep,state_0,state_1,state_2,state_3,state_4,state_5,Unnamed: 7
0,0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,NaN
1,1,0.512821,-0.269323,1.02564,-0.538645,1.02564,-0.538645,NaN
2,2,1.363450,-0.765230,2.72690,-1.530460,1.70126,-0.991816,NaN
3,3,2.778430,-0.666374,5.55686,-1.332750,2.82996,0.197714,NaN
4,4,4.609060,-0.549322,9.21812,-1.098640,3.66126,0.234104,NaN

,simstep,step,rollout,state_0,state_1,state_2,state_3,state_4,state_5,cost_cum,Unnamed: 10
0,0,0,0,-0.368462,-0.041350,-0.736924,-0.082700,-0.736924,-0.082700,223.955,NaN
1,0,0,1,-0.281041,0.178865,-0.562082,0.357729,-0.562082,0.357729,223.779,NaN
2,0,0,2,0.434693,0.019416,0.869386,0.038833,0.869386,0.038833,223.209,NaN
3,0,0,3,-0.465428,0.029700,-0.930856,0.059400,-0.930856,0.059400,224.010,NaN
4,0,0,4,-0.492302,-0.433158,-0.984604,-0.866316,-0.984604,-0.866316,224.241,NaN

In [171]:
#df_timestep = filter_df(sampling_df, "simstep", 10)
#df_timestep = filter_df(df_timestep, "step", 3)

In [172]:
def draw_interactive(simstep, step):
    df_timestep = filter_df(sampling_df, "simstep", simstep, op='==')
    df_timestep = filter_df(df_timestep, "step", step, op='<=')
    
    fig, ax = fig, ax = plt.subplots(2, figsize=(15,15))
    ax[0].plot(sim_df[['state_0']], sim_df[['state_1']])
    ax[0].scatter(sim_df[['state_0']].iloc[simstep], sim_df[['state_1']].iloc[simstep],s=30)
    ax[1].plot(sim_df[['state_0']], sim_df[['state_1']])
    ax[1].scatter(df_timestep[['state_0']], df_timestep[['state_1']], s=1)
    ax[0].scatter(sim_df[['state_0']].iloc[simstep], sim_df[['state_1']].iloc[simstep],s=60)

    ax[1].set_xlim((ax[0].get_xlim()))
    ax[1].set_ylim((ax[0].get_ylim()))
    plt.show()
    
widgets.interactive(draw_interactive, 
                    simstep = widgets.IntSlider(value=0, min=0, max=sim_df.shape[0]-2, step=1), 
                    step= widgets.IntSlider(value=19, min=0, max=19))

interactive(children=(IntSlider(value=0, description='simstep', max=99), IntSlider(value=19, description='step…